img {border: 0px; padding: 0px; margin: 0px}
body {font-size: 14px; color: black; margin: 0px; font-family: 'Noto Sans KR';}
.body_wh {font-size: 14px; color: black; margin: 0px; background-color: white; font-family: 'Noto Sans KR'; padding: 0px}
.p_hide {display: none}

a {text-decoration: none; color: black}

.wrap {}
.wrap_white {width: 1440px; min-height: 100vh; background-color: white; padding: 0px calc(50% - 720px)}
.container {padding: 2.5%}
.container2 {padding: 2.5%}
.container_adm {width: 1600px; margin: 80px auto}

.bgcover {background-size: cover; background-position: center; background-repeat: no-repeat;}
.bgcontain {background-size: contain; background-position: center; background-repeat: no-repeat;}
.t_red {color: #DD0501}

.flt_l {float: left}
.flt_r {float: right}

.clear {clear: both}
.no_dis {display: none}
.bg {background-size: contain; background-position: center; background-repeat: no-repeat}
.bg_bk {display: none; position: fixed; top: 0px; left: 0px; width: 100%; height: 100vh; background-image: url('/garage/images/op40.png'); z-index: 1}

.bg_bk_alert {position: fixed; top: calc(40vh - 150px); left: calc(50% - 180px); width: 300px; min-height: 150px; padding: 30px; background-color: white; border-radius: 5px; z-index: 10; box-shadow: 0px 0px 5px #c5c5c5;}
.bg_bk_alert_bt {background-color: #FFA218; height: 52px; line-height: 52px; border-radius: 5px; text-align: center; color: white; font-size: 16px; cursor: pointer;}
.bg_bk_alert_x {background-position: right center; background-image: url('/garage/images/ic_close.png'); background-repeat: no-repeat; background-size: 24px;  width: 100%; height: 24px; cursor: pointer;}
.bg_bk_alert_txt {font-size: 18px; line-height: 24px; text-align: center; margin: 40px 0px;}

.bg_bk_confirm_gr {float: left; width: 140px; background-color: #FFA218; height: 52px; line-height: 52px; border-radius: 5px; text-align: center; color: white; font-size: 16px; cursor: pointer;}
.bg_bk_confirm_bk {float: right; width: 140px; background-color: #2e2e2e; height: 52px; line-height: 52px; border-radius: 5px; text-align: center; color: white; font-size: 16px; cursor: pointer;}
.bg_bk_detail {display: none; position: fixed; top: calc(40vh - 150px); left: calc(50% - 420px); width: 780px; min-height: 450px; padding: 30px; background-color: white; border-radius: 5px; z-index: 10; box-shadow: 0px 0px 5px #c5c5c5;}


.bg_bk_alert_new {display: none; position: fixed; top: calc(40vh - 280px); left: calc(50% - 350px); width: 610px; height: 560px; padding: 48px; background-color: white; border-radius: 15px; z-index: 10; box-shadow: 0px 0px 5px #c5c5c5;}
.bg_bk_alert_new_title {float: left; height: 30px;}
div.bg_bk_alert_new_title img {height: 28px; margin: 1px}
.bg_bk_alert_new_title_t {float: left; height: 30px; font-size: 16px; color: #7e7e7e}
.bg_bk_alert_new_title_c {float: left; line-height: 36px; font-size: 28px; margin: 10px 0px}
.bg_bk_alert_new_title_img {float: right}
div.bg_bk_alert_new_title_img img {height: 105px}
.bg_bk_alert_new_txt_w {background-color: #f2f2f2; border-radius: 15px;}

.bg_bk_alert_new_x {float: right; width: 30px; height: 30px; background-position: center; background-image: url('/garage/images/ic_close.png'); background-repeat: no-repeat; background-size: 30px; cursor: pointer;}
.bg_bk_alert_new_txt {margin: 50px 0px 25px 0px}
div.bg_bk_alert_new_txt img {width: 100%}
.bg_bk_alert_new_txt_gray {font-size: 14px; color: #9f9f9f; line-height: 25px;}
.bg_bk_alert_new_body {font-size: 18px; color: #7e7e7e; margin: 10px 0px 30px 0px}
.bg_bk_alert_new_img {margin: 50px 0px; text-align: center;}
div.bg_bk_alert_new_img img {width: 300px}
.bg_bk_confirm_new_gray {float: right;  width: calc(47.5% - 2px); background-color: #f4f4f4; height: 58px; line-height: 58px; border-radius: 10px; text-align: center; color: #29302B; font-size: 18px; cursor: pointer; border: 1px solid #e6e6e6}
.bg_bk_confirm_new_orange {float: left; width: 47.5%; background-color: #FFA218; height: 60px; line-height: 60px; border-radius: 10px; text-align: center; color: white; font-size: 18px; cursor: pointer;}
.bg_bk_confirm_new_orange_long {width: 100%; background-color: #FFA218; height: 60px; line-height: 60px; border-radius: 10px; text-align: center; color: white; font-size: 18px; cursor: pointer;}


.bg_bk_alert_new2 {display: none; position: fixed; top: calc(40vh - 100px); left: calc(50% - 250px); width: 450px; padding: 30px; background-color: white; border-radius: 15px; z-index: 10; box-shadow: 0px 0px 5px #c5c5c5;}
.bg_bk_alert_new3 {display: none; position: fixed; top: calc(40vh - 250px); left: calc(50% - 365px); width: 650px; padding: 40px; background-color: white; border-radius: 15px; z-index: 10; box-shadow: 0px 0px 5px #c5c5c5;}
.bg_bk_alert_new4 {position: fixed; top: calc(40vh - 250px); left: calc(50% - 365px); width: 650px; padding: 40px; background-color: white; border-radius: 15px; z-index: 10; box-shadow: 0px 0px 5px #c5c5c5;}
.bg_bk_alert_new5 {display: none; position: fixed; top: calc(40vh - 250px); left: calc(50% - 365px); width: 650px; padding: 40px; background-color: white; border-radius: 15px; z-index: 10; box-shadow: 0px 0px 5px #c5c5c5;}

.popup_t {height: 70px; line-height: 70px; padding: 0px 30px; border-bottom: 1px solid #222; font-size: 18px; font-weight: bold}
.popup_c {height: 64px; line-height: 64px; padding: 0px 30px; border-bottom: 1px solid #dfdfdf; font-size: 16px}
.popup_c2 {line-height: 24px; padding: 15px 30px; border-bottom: 1px solid #dfdfdf; font-size: 16px}
.popup_t_lef {float: left}
.popup_t_rig {float: right}

.popup_c2_lef {float: left;}
div.popup_c2_lef span {color: #7e7e7e; font-size: 14px;}
.popup_c2_rig {float: right; line-height: 48px;}
.popup_close {width: 320px; height: 58px; line-height: 58px; color: white; text-align: center; font-size: 16px; border-radius: 7px; background-color: #FFA218; margin: 40px auto; cursor: pointer;}


.header {height: 60px; background: white; box-shadow: 0px 0px 5px gray;}
.header_logo {float: left; width: 150px; height: 40px; cursor: pointer; background-image: url('/garage/images/logo.png'); background-size: 80%; background-repeat: no-repeat; background-position: center; margin: 10px 0px;}
.header_burger {float: right; height: 40px; line-height: 40px; background-image: url('/garage/images/ic_burger.png');}
.header_logout {float: right; font-size: 14px; color: #333; margin: 0px 0px 0px 40px}
.header_logout_se {float: right; font-size: 14px; color: #333; margin: 0px 0px 0px 120px}

div.header_logout a {text-decoration: none; color: #333;}
.header_m {float: right; font-size: 16px; margin: 0px 0px 0px 32px; line-height: 100px; height: 100px; font-weight: bold; position: relative; cursor: pointer;}
.header_m:hover {height: 94px; font-weight: bold; color: #FFA218; position: relative;}
.header_m_s {float: right; font-size: 16px; margin: 0px 0px 0px 32px; line-height: 100px; height: 94px; font-weight: bold; border-bottom: 6px solid #FFA218; color: #FFA218; position: relative;}
.header_m_inner {display: none; position: absolute; top: 120px; left: -32px; width: 188px; padding: 16px 16px 16px 16px; border-radius: 5px; background-color: white; color: #333; font-size: 16px; text-align: center; font-weight: normal; box-shadow: 0px 0px 10px #dfdfdf; border-radius: 15px;}
.header_m_inner_m {height: 52px; line-height: 52px; padding: 0px 10px; text-align: left; border-bottom: 1px solid #efefef}
.header_m_inner_m:hover {color: #FFA218; }
.header_m_inner_m_s {height: 42px; line-height: 42px; color: #FFA218; margin: 0px 0px 16px 0px; border-radius: 5px; padding: 0px 0px 0px 10px; text-align: left;}
.header_burger {display: none;}

.footer {background-color: #2E2E2E; padding: 5%; color: white}
.footer_logo {width: 150px; height: 40px; line-height: 40px; background-image: url('/garage/images/footer_logo.png'); margin: 20px 0px 30px 0px}  
.footer_terms_l {line-height: 50px;}
.footer_terms_r {line-height: 30px; border-top: 1px solid gray; padding: 40px 0px 0px 0px}
.footer_line {color: #d9d9d9; line-height: 28px; font-size: 12px; border-top: 1px solid gray; margin: 20px 0px 0px 0px; padding: 40px 0px 0px 0px}
div.footer_terms_l a {color: white}

.footer_term_r_m {height: 40px; line-height: 40px;}
div.footer_term_r_m img {height: 30px; line-height: 30px; margin: 5px 0px; border-radius: 5px;}


.login_box {padding: 15% 5% 25% 5%}
.login_box_l {width: 100%}
.login_box_r {display: none}
.login_box_manage {width: 500px; margin: 150px auto}
.login_box_title {width: 250px; height: 50px; background-image: url('/garage/images/logo.png'); background-size: contain; background-position: center; background-repeat: no-repeat; margin: 10% auto}
.login_box_t {font-size: 14px; line-height: 30px; font-weight: bold;}
.login_box_c {width: calc(100% - 32px); height: 46px; line-height: 46px; padding: 5px 15px; font-size: 18px; border: 1px solid #e8e8e8; border-radius: 10px; margin: 6px 0px 24px 0px}
.login_box_auto {float: left; line-height: 30px; font-size: 14px; color: #b3b3b3}
.login_box_link {float: right; line-height: 30px; text-align: center; margin: 0px 0px 30px 0px; font-size: 14px; color: #b3b3b3}
div.login_box_link a {color: #b3b3b3}
.login_box_link_b {text-align: center; margin: 30px 0px 0px 0px; font-size: 16px}
div.login_box_link_b a {text-decoration: underline; color: #b5b5b5}
.login_box_bt {background-color: #FFA218; height: 58px; line-height: 58px; border-radius: 5px; text-align: center; color: white; font-size: 18px; cursor: pointer;}
.login_box_deny {border: 1px solid #e8e8e8; border-radius: 5px; height: 150px; padding: 15px; font-size: 16px; margin: 0px 0px 30px 0px}
.login_box_deny_title {font-size: 30px; text-align: center; color: red; font-weight: bold;}

.signup_box {width: 640px; min-height: 1000px; margin: 100px auto;}
.signup_box_l {float: left; width: 378px}
.signup_box_r {float: right; width: 580px}
div.signup_box_l img {width: 100%}
.signup_box_l_txt {font-size: 50px; line-height: 66px;}
div.signup_box_l_txt span {color: #FFA218} 
.signup_box_l_txt_se {font-size: 16px; color: #7e7e7e; margin: 30px 0px 120px 0px}




.signup_box_bt {background-color: #f4f4f4; height: 68px; line-height: 68px; border-radius: 10px; text-align: center; color: #b0b0b0; border: 1px solid #e6e6e6; font-size: 24px; cursor: pointer;}
.signup_box_bt_pre{background-color: #FFA218; height: 70px; line-height: 70px; border-radius: 10px; text-align: center; color: white; font-size: 24px; cursor: pointer;}
.signup_box_bt_pre:hover{background-color: #FFA218; height: 70px; line-height: 70px; border-radius: 10px; text-align: center; color: white; font-size: 24px; cursor: pointer;}

.signup_box_bt_green {float: left; width: 47.5%; background-color: #FFA218; height: 58px; line-height: 58px; border-radius: 5px; text-align: center; color: white; font-size: 18px; cursor: pointer;}
.signup_box_bt_black {float: right; width: 47.5%;background-color: black; height: 58px; line-height: 58px; border-radius: 5px; text-align: center; color: white; font-size: 18px; cursor: pointer;}
.signup_box_title {height: 35px; line-height: 35px; font-size: 28px; padding: 0px 0px 20px 0px; border-bottom: 1px solid #222222; margin: 0px 0px 50px 0px}

.signup_box_t {height: 30px; line-height: 30px; font-size: 24px; margin: 0px 0px 0px 0px; color: #7e7e7e; font-weight: 500;}
div.signup_box_t span {color: #FFA218; font-weight: bold;}
.signup_box_c {width: calc(100% - 32px); height: 68px; line-height: 68px; border: 1px solid #e2e2e2; border-radius: 10px; padding: 0px 15px; font-size: 20px; margin: 20px 0px 40px 0px}
.signup_box_c_se {float: left; width: calc(100% - 162px); height: 52px; line-height: 52px; border: 1px solid #e8e8e8; border-radius: 5px; padding: 0px 15px; font-size: 18px; margin: 12px 0px 12px 0px}
.signup_box_c_bt {float: left; width: 118px; height: 46px; line-height: 46px; border: 1px solid #ffdeaa; background-color: #fff6e8; color: #ffa218; border-radius: 5px; padding: 0px 0px; font-size: 18px; margin: -30px 0px 20px 0px; cursor: pointer;}
.signup_box_c_bt_se {width: 26px; height: 26px; line-height: 26px; background-color: #7e7e7e; color: white; border-radius: 5px; padding: 0px 0px; font-size: 18px; margin: 0px 0px px 0px; cursor: pointer; color: white; border: 0px}
.signup_box_c_sel {float: left; width: 120px; height: 52px; border: 1px solid #e8e8e8; border-radius: 5px; margin: 12px 10px 12px 0px; padding: 0px 10px; font-size: 16px;}
.signup_box_c_sel_se {width: 100%; height: 68px; border: 1px solid #e2e2e2; border-radius: 10px; margin: 12px 10px 12px 0px; padding: 0px 10px; font-size: 20px;}
.signup_box_c_error {width: calc(100% - 32px); height: 52px; line-height: 52px; border: 1px solid #DD0501; color: #DD0501; border-radius: 5px; padding: 0px 15px; font-size: 18px; margin: 12px 0px 12px 0px; background-color: #f3e8e8}
.signup_box_guide {font-size: 16px; color: #7e7e7e; margin: 0px 0px 20px 0px}
.signup_box_guide_error {font-size: 14px; color: #DD0501; margin: 0px 0px 20px 0px}

.find_id_box {width: 500px; padding: 50px; background-color: white; border-radius: 5px; box-shadow: 0px 5px 5px #dfdfdf; margin: 200px auto}
.find_id_title {font-size: 28px; line-height: 34px; margin: 0px 0px 20px 0px}
.find_id_tab_s {float: left; width: 50%; height: 46px; line-height: 46px; border-bottom: 2px solid #FFA218; text-align: center; color: #FFA218; font-size: 16px; margin: 0px 0px 48px 0px}
.find_id_tab {float: left; width: 50%; height: 46px; line-height: 46px; border-bottom: 2px solid #EFEFEF; text-align: center; color: #7e7e7e;; font-size: 16px; cursor: pointer; margin: 0px 0px 48px 0px}
.find_id_res {text-align: center; font-size: 16px; margin: 30px 0px 10px 0px; line-height: 30px; font-weight: bold;}
div.find_id_res span {font-size: 22px; color: #FFA218; text-decoration: underline}


.c_title {border-bottom: 1px solid black; font-size: 28px; line-height: 30px; padding: 0px 0px 24px 0px; margin: 0px 0px 42px 0px}
.b_title {font-size: 32px; line-height: 50px; padding: 0px 0px 0px 0px; margin: 0px 0px 10px 0px; font-weight: bold;}
div.b_title img {width: 32px;}
.b_title_se {font-size: 20px; color: #7e7e7e; margin: 0px 0px 40px 0px}

.n_c_title {height: 44px; line-height: 44px; margin: 80px 0px 80px 0px}
.n_c_title_name {float: left; font-size: 42px; font-weight: bold;}
.n_c_title_logout {float: left; height: 44px; margin: 0px 10px 0px 30px}
div.n_c_title_logout img {height: 42px; margin: 1px 0px}
.n_c_title_myinfo {float: left; height: 44px; margin: 0px 0px}
div.n_c_title_myinfo img {height: 42px; margin: 1px 0px}

.n_c_title_img {height: 40px; margin: 40px 0px 20px 0px}
div.n_c_title_img img {height: 38px; margin: 1px 0px}


.n_mypage_m1 {float: left; width: 630px; height: 122px; line-height: 122px; border-radius: 10px; padding: 0px 40px; margin: 0px 0px 20px 0px; background-image: url('/garage/images/bg_blue.png'); background-size: cover; background-position: center; color: white}
.n_mypage_m2 {float: right; width: 630px; height: 122px; line-height: 122px; border-radius: 10px; padding: 0px 40px; margin: 0px 0px 20px 0px; background-image: url('/garage/images/bg_red.png'); background-size: cover; background-position: center; color: white}
.n_mypage_m3 {float: left; width: 630px; height: 122px; line-height: 122px; border-radius: 10px; padding: 0px 40px; margin: 0px 0px 20px 0px; background-image: url('/garage/images/bg_purple.png'); background-size: cover; background-position: center; color: white}
.n_mypage_m4 {float: right; width: 630px; height: 122px; line-height: 122px; border-radius: 10px; padding: 0px 40px; margin: 0px 0px 20px 0px; background-image: url('/garage/images/bg_orange.png'); background-size: cover; background-position: center; color: white}
.n_mypage_m_l {float: left; font-size: 18px}
div.n_mypage_m_l span {font-size: 14px}
.n_mypage_m_r {float: right; font-size: 42px; font-weight: bold;}
div.n_mypage_m_r span {font-size: 18px; font-weight: normal;}

.n_mypage_day {float: left; height: 50px; line-height: 50px; border: 1px solid #e2e2e2; border-radius: 10px; padding: 0px 20px 0px 20px; background-color: white; font-weight: bold; font-size: 16px; color: gray}
.n_mypage_date {float: left; height: 70px; line-height: 70px; border: 1px solid #e2e2e2; border-radius: 10px; padding: 0px 20px 0px 50px; background-image: url('/garage/images/ic_color_calendar.png'); background-size: 24px; background-position: 10px center; background-repeat: no-repeat; background-color: white; font-weight: bold; font-size: 20px;}
.n_mypage_date_lef {font-size: 32px; font-weight: bold; margin: 25px 0px 40px 0px; color: black}
.n_mypage_date_lef_span {background: linear-gradient(90deg, #DD0501, #FFA218); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 40px}


.n_search_bar {height: 56px; padding: 25px 0px; margin: 50px 0px}
.n_search_inner {}

.mypage_lef {float: left; width: 265px; height: 144px; background-image: url('/garage/images/mypage_lef.png'); background-size: 150%; background-position: center; border-radius: 10px; padding: 35px 40px}
.mypage_lef_t {line-height: 20px; padding: 0px 0px 20px 0px; color: white}
.mypage_lef_t_l {float: left; width: 80px; font-size: 14px;}
.mypage_lef_t_r {float: left; font-size: 18px; font-weight: bold;}
.mypage_lef_info {float: left; padding: 0px 20px 0px 40px; height: 40px; line-height: 40px; background-color: white; background-image: url('/garage/images/ic_settings.png'); background-size: 20px; font-size: 16px; background-position: 10px center; background-repeat: no-repeat; border-radius: 7px; margin: 20px 0px 0px 0px; cursor: pointer;}
.mypage_lef_logout {float: right; height: 40px; line-height: 40px; padding: 0px 20px; background-color: black; border-radius: 7px; color: white; margin: 20px 0px 0px 0px; font-size: 16px; cursor: pointer;}

.mypage_rig {float: right; width: 619px; height: 130px; padding: 40px 48px; border: 2px solid #FFA218; border-radius: 10px; background-color: white}
.mypage_rig_t {font-size: 24px; line-height: 24px; padding: 0px 0px 20px 0px; border-bottom: 1px solid #E8E8E8}
.mypage_rig_c1 {float: left; width: 40%; color : #7e7e7e; font-size: 16px; margin: 20px 0px 0px 0px; line-height: 40px;}
div.mypage_rig_c1 span {color: black; font-size: 30px; font-weight: bold;}
.mypage_rig_c2 {float: left; width: 20%; color : #7e7e7e; font-size: 16px; margin: 20px 0px 0px 0px; line-height: 40px;}
div.mypage_rig_c2 span {color: black; font-size: 30px; font-weight: bold;}


/* Table */
.tb_w {border: 1px solid #dfdfdf; background-color: white; border-radius: 10px; padding: 15px 30px; box-shadow: 0px 0px 5px #c5c5c5; margin: 30px 0px 0px 0px; color: #7e7e7e; font-size: 16px}
.tb_w_green {background-color: #f3f3f3; border-radius: 10px; padding: 68px 57px; margin: 30px 0px 0px 0px; color: #7e7e7e; font-size: 16px}
.tb_w_scroll {border: 1px solid #dfdfdf; background-color: white; border-radius: 10px; padding: 15px 30px; box-shadow: 0px 0px 5px #c5c5c5; margin: 30px 0px 0px 0px; color: #7e7e7e; font-size: 16px}


.tr_t {background-color: white; border-radius: 10px; line-height: 50px; height: 50px; text-align: center; color: #7e7e7e; box-shadow: 0px 0px 7px #dfdfdf;}
.tr_b {border-top: 1px solid #b2b2b2; line-height: 50px; height: 50px; color: black; font-weight: bold;}
.td {height: 60px; line-height: 60px; border-bottom: 1px solid #dfdfdf; color: #333; text-align: center;}
.td5 {float: left; width: calc(5% - 20px); padding: 0px 10px}
.td10 {float: left; width: calc(10% - 20px); padding: 0px 10px}
.td15 {float: left; width: calc(15% - 20px); padding: 0px 10px}
.td20 {float: left; width: calc(20% - 20px); padding: 0px 10px}
.td25 {float: left; width: calc(25% - 20px); padding: 0px 10px}
.td33 {float: left; width: calc(33.3% - 20px); padding: 0px 10px}
.td70 {float: left; width: calc(70% - 20px); padding: 0px 10px; font-weight: bold; cursor: pointer}
.td_bt {width: 80px; height: 40px; line-height: 40px; text-align: center; color: white; background-color: #2E2E2E; border-radius: 7px; margin: 10px auto; cursor: pointer;}
.td_input {width: 200px; height: 36px; line-height: 36px; margin: 6px auto; background-color: #f2f2f2; border-radius: 5px;}
.td80 {float: left; width: calc(80% - 20px); padding: 0px 10px; font-weight: bold; cursor: pointer}
div.td80 span {font-weight: bold; color: #FFA218; font-size: 22px;}

.td_download {border: 1px solid #e8e8e8; width: 150px; height: 36px; line-height: 36px; color: #333; text-align: center; background-color: white}

.tb_title {font-size: 40px; margin: 80px 0px 20px 0px; font-weight: bold;}
.tb_title_se {font-size: 16px; line-height: 20px; margin: 10px 0px 0px 0px; color: #7e7e7e}
div.tb_title_se span {font-weight: bold; color: black; font-size: 18px}
.tb_title_se_mob {display: none;}

.filter_date {float: left; width: 218px; height: 54px; line-height: 54px; border: 1px solid #e8e8e8; background-size: 24px; background-position: 95% center; background-repeat: no-repeat; border-radius: 7px; padding: 0px 10px; margin: 0px 15px 0px 0px;}
.filter_month {float: left; width: 76px; height: 40px; line-height: 40px; border: 1px solid #e8e8e8; border-radius: 7px; text-align: center; margin: 7px 15px 0px 0px;}
.filter_bt {float: left; width: 180px; height: 56px; background-color: #FFA218; line-height: 56px; color: white; text-align: center; border-radius: 7px; margin: 0px 15px 0px 0px}
.filter_refresh {float: left; width: 80px; height: 56px; margin: 0px 0px 0px 20px; padding: 0px 0px 0px 30px; line-height: 56px; background-image: url('/garage/images/ic_refresh.png'); background-size: 18px; background-position: left center; background-repeat: no-repeat;}

.n_filter_bt {float: right; line-height: 54px; height: 54px; border-radius: 10px; background-color: #fff6e8; border: 1px solid #ffdeaa; color: #ffa218; padding: 0px 30px; margin: 0px 10px 0px 0px; font-size: 18px; font-weight: bold;}
.n_filter_reset {float: right; width: 80px; height: 56px; margin: 0px 0px 0px 20px; padding: 0px 0px 0px 30px; line-height: 56px; background-image: url('/garage/images/ic_refresh.png'); background-size: 18px; background-position: left center; background-repeat: no-repeat;}


.filter_se {margin: 20px 0px; line-height: 48px; font-size: 18px; color: #7e7e7e}

.tb2_chk_s {width: 24px; line-height: 24px; height: 24px; margin: 12px auto; border: 1px solid #FFA218; border-radius: 5px; text-align: center; background-color: #FFA218; color: white}
.tb2_chk {width: 24px; line-height: 24px; height: 24px; margin: 12px auto; border: 1px solid #333; border-radius: 5px; text-align: center; color: #dfdfdf}
.tb2_bt {height:48px; line-height: 48px; min-width: 100px; color: #ffa218; background-color: #fff6e8; border-radius: 5px; text-align: center; border: 1px solid #ffedaa; cursor: pointer;}

.tb2_t {height: 66px; line-height: 66px; font-size: 16px; text-align: center; background-color: white; border-radius: 10px; box-shadow: 0px 5px 10px #dfdfdf; color: #7e7e7e;}
.tb2_tr {height: 66px; line-height: 66px; font-size: 18px; text-align: center; border-bottom: 1px solid #e2e2e2;}
.tb2_submit {width: 320px; height: 64px; line-height: 64px; font-size: 18px; cursor: pointer; background-color: #FFA218; border-radius: 7px; text-align: center; color: white; margin: 80px auto;}

.tb3_w {width: 820px; border: 2px solid #FFA218; background-color: white; border-radius: 10px; padding: 15px 30px; box-shadow: 0px 0px 5px #c5c5c5; margin: 30px auto; color: #7e7e7e; font-size: 16px}
.tb3_t {border-bottom: 1px solid #333; line-height: 48px; font-size: 16px; text-align: center; color: #7e7e7e; font-size: 14px;}
.tb3_tb {border-bottom: 1px solid #e8e8e8; height: 48px; line-height: 48px; font-size: 16px; text-align: center;}
.tb3_b {border-top: 1px solid #b2b2b2; line-height: 50px; height: 50px; color: black; font-weight: bold; text-align: center;}
.tb3_bt {width: 660px; margin: 60px auto}
.tb3_cancel {float: left; width: 320px; height: 64px; line-height: 64px; font-size: 18px; cursor: pointer; background-color: #2e2e2e; border-radius: 7px; text-align: center; color: white }
.tb3_submit {float: right; width: 320px; height: 64px; line-height: 64px; font-size: 18px; cursor: pointer; background-color: #FFA218; border-radius: 7px; text-align: center; color: white}

.tb4_bt {width: 400px; height: 58px; line-height: 58px; border: 1px solid #e6e6e6; border-radius: 10px; text-align: center; background-color: #f4f4f4; color: #b0b0b0; margin: 60px auto; font-size: 18px; font-weight: 500; cursor: pointer;}
.tb4_bt_s {width: 400px; height: 58px; line-height: 58px; border: 1px solid #FFA218; border-radius: 10px; text-align: center; background-color: #FFA218; color: white; margin: 60px auto; font-size: 18px; font-weight: 500; cursor: pointer;}


.td_amount_input {width: 178px; height: 46px; line-height: 46px; border: 1px solid #e2e2e2; background-color: #f8f8f8; border-radius: 5px; padding: 0px 10px}

.terms_t {font-size: 24px; border-bottom: 1px solid black; line-height: 60px; margin: 50px 0px 30px 0px}
.terms_c {line-height: 30px}
div.temr_c span {font-size: 18px; font-weight: bold;}

.notice_filter {margin: 50px 0px 24px 0px; line-height: 54px;}
.notice_search {
    height: 54px;
    width: 280px;
    background-color: #f7f7f7;
    border-radius: 7px;
    padding: 0px 10px;
    float: right;
    display: flex;
    align-items: center;
    border: 1px solid #dfdfdf;
}

.notice_search input[type="text"] {
    border: none;
    background: transparent;
    font-size: 16px;
    color: gray;
    width: 100%;
    outline: none;
}

.notice_pagination{
    margin: 0 5px;
    text-decoration: none;
}

.notice_select {height: 52px; width: 180px; background-color: white; color: black; border: 1px solid #e8e8e8; font-size: 16px; margin: 0px 10px; padding: 0px 10px; float: right; border-radius: 7px;}


.noti_w {}
.noti_t {border-top: 1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8; line-height: 70px; height: 70px}
.noti_t:hover {cursor: pointer; background-color: #f2f2f2}
.noti_tr {border-bottom: 1px solid #dfdfdf; line-height: 70px; height: 70px}
.noti_no {line-height: 200px; text-align: center;}

.pagenate {width: 300px; text-align: center; margin: 50px auto;}
.page_m {float: left; width: 28px; height: 28px; line-height: 28px; color: #333; text-align: center; margin: 0px 2px;}
.page_m_s {float: left; background-color: #333; width: 28px; height: 28px; line-height: 28px; color: white; text-align: center; border-radius: 3px;}

.noti_view {padding: 50px; border-bottom: 1px solid #dfdfdf}
.noti_view_t {font-size: 24px; font-weight: bold; margin: 0px 0px 10px 0px}
.noti_view_c {color: gray; margin: 20px 0px 40px 0px;}
.noti_view_bt {width: 200px; height: 60px; line-height: 60px; margin: 60px auto 0px auto; background-color: #FFA218; text-align: center; color: white; border-radius: 7px; font-size: 16px; cursor: pointer;}
div.noti_view_bt a {color: white}

.noti_prev {float: left; line-height: 30px; margin: 20px 0px 0px 5%; font-size: 12px; cursor: pointer;}
div.noti_prev span {font-size: 16px; color: #FFA218}
.noti_next {float: right; line-height: 30px; margin: 20px 5% 0px 5%; font-size: 12px; cursor: pointer;}
div.noti_next span {font-size: 16px; color: #FFA218}

.noti_write_t {margin: 40px 0px 10px 0px; font-weight: bold;}
div.noti_write_t span {color: #FFA218}
.noti_write_c {height: 50px; line-height: 50px; border: 1px solid #dfdfdf; margin: 0px 0px 40px 0px; background-color: white; border-radius: 7px;}
.noti_write_attach {height: 50px; line-height: 50px; margin: 0px 0px 40px 0px}
.noti_write_c_lar {height: 200px; line-height: 50px; border: 1px solid #dfdfdf; margin: 0px 0px 40px 0px; background-color: white; border-radius: 7px;}

.howto {width: 1440px; margin: 0px auto}
div.howto img {float: left; width: 100%; margin: 0px 0px 400px 0px}

.myinfo_box {width: 580px; margin: 200px auto;}

.howtoslide {width: 1440px; margin: 50px auto}

.howtoslide_t {font-size: 50px; margin: 0px 0px 70px 0px; font-weight: bold;}
.howtoslide_bt {float: left; height: 82px; line-height: 82px; padding: 0px 30px; font-size: 30px; color: #b0b0b0; border: 1px solid #e6e6e6; background-color: #f4f4f4; border-radius: 10px; margin: 0px 20px 0px 0px; font-weight: bold; cursor: pointer;}
.howtoslide_bt_s {float: left; height: 82px; line-height: 82px; padding: 0px 30px; font-size: 30px; color: white; border: 1px solid #FFA218; background-color: #FFA218; border-radius: 10px; margin: 0px 20px 0px 0px; font-weight: bold;}

.howtoslide_txt {font-size: 25px; color: #b0b0b0; margin: 45px 0px}
.howtoslide_img {width: 100%}

/* added by DJK from 202508 */
.custom_checkbox {float: left; width: 24px; height: 24px; background-image: url('/garage/images/custom_checkbox.png'); background-size: cover; background-position: center; background-repeat: no-repeat; cursor: pointer; margin: 3px 10px 0px 0px}
.custom_checkbox_s {float: left; width: 24px; height: 24px; background-image: url('/garage/images/custom_checkbox_s.png'); background-size: cover; background-position: center; background-repeat: no-repeat; cursor: pointer; margin: 3px 10px 0px 0px}

.nsignup_title {float: left; font-size: 32px; font-weight: bold;}
.nsignup_dot {float: left; width: 18px; height: 18px; background-color: #ffa218; border-radius: 50%;}
.nsignup_wrap {background-color: #fbfbfb; border: 1px solid #e2e2e2; border-radius: 20px; padding: 35px 35px 15px 35px; margin: 35px 0px 100px 0px}

.input_guide_text {font-size: 22px; color: #bebebe; margin: 12px 0px 20px 0px}

.t_bold {font-weight: bold;}

.n_tbw {background-color: #fbfbfb; border-top-left-radius: 15px; border-top-right-radius: 15px; padding: 60px; margin: 0px 0px 60px 0px}
.n_tbt {height: 66px; line-height: 66px; background-color: white; border-radius: 10px; box-shadow: 0px 0px 10px #dfdfdf; text-align: center;}
.n_tbb {line-height: 66px; border-bottom: 1px solid #dfdfdf; text-align: center;}
.n_tbb2 {line-height: 66px; text-align: center;}

.n_td33 {float: left; width: 33.3%}
.n_td25 {float: left; width: 25%}
.n_tbw_d {background-color: white; border-radius: 20px; padding: 60px; margin: 30px 0px 0px 0px}

.n_trt {height: 64px; line-height: 64px; background: #f9f9f9; color: #7e7e7e; border-radius: 15px; text-align: center;}
.n_trt2 {height: 64px; line-height: 64px; background: #dfdfdf; color: #7e7e7e; border-top-left-radius: 15px; border-top-right-radius: 15px; text-align: center; color: black}
.n_tr {height: 66px; line-height: 66px; border-bottom: 1px solid #dfdfdf; text-align: center;}
.n_tr2 {height: 66px; line-height: 66px; border-bottom: 1px solid #dfdfdf; background-color: white; text-align: center;}

.n_td10 {float: left; width: 10%;}
.n_td15 {float: left; width: 15%;}
.n_td20 {float: left; width: 20%;}
.n_td_down {float: left; width: 5%; height: 44px; line-height: 44px; border: 1px solid #dfdfdf; text-align: center; border-radius: 10px; margin: 9px 2.5%; cursor: pointer;}